.navbar-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #121110;
}

.navbar-bottom-left {
    display: flex;
    margin-left: 32px;
}

.navbar-bottom-left>li {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: 'Cabin', serif;
    font-size: 24px;
}

.navbar-bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 42px;
    margin-right: 32px;
}

.navbar-bottom-right>li:hover {
    font-weight: bold;
    cursor: pointer;
}
