.explorer-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 52px;
}

.explorer-container>h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 28px;
}

.explorer-category>h4 {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

.explorer-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 28px;
    margin-bottom: 14px;
}

.explorer-card {
    border: 1px solid #b3b3b3;
    width: 300px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 0 5px #3e3e3e;
}

.explorer-image {
    width: 100%;
    height: 192px;
    background-color: gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.explorer-text {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    display: grid;
    grid-template-rows: 92px 30px;
    position: relative;
}

.explorer-links {
    color: black;
    font-size: 18px;
}
.explorer-links:hover {
    font-weight: bold;
    text-shadow: 0 0 1px #3e3e3e;
}

.explorer-user {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: absolute;
    right: 14px;
    bottom: 50px;
    color: black;
}

.explorer-user:hover {
    font-weight: bold;
    cursor: pointer;
}
