.search-page {
    margin-bottom: 46px;
}

.search-body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 36px;
    margin-bottom: 36px;
    display: grid;
    column-gap: 28px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.explorer-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 28px;
    margin-bottom: 14px;
}

.search-body-short {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 36px;
    margin-bottom: 36px;
    display: flex;
    column-gap: 28px;
    justify-content: center;
    height: 65vh;
}

.search-body-none {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    height: 100%;
}

.search-header {
    font-family: 'Cabin', sans-serif;
}

.search-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 28px;
}
