.project-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 24px;
    margin-bottom: 10vh;
    padding-left: 20%;
    padding-right: 20%;
}

.project-header {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 42px;
    padding: 12px;
}

.project-author {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 12px;
}

.project-image {
    width: 100%;
    margin: none;
    height: 500px;
    object-fit: cover;
    align-self: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px;
}

.project-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 36px;
}

.project-section-header {
    font-family: 'Cabin', sans-serif;
    font-size: 28px;
    padding-bottom: 18px;
    margin-bottom: 18px;
}

.project-supplies {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    list-style: circle;
    text-align: justify;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.supplies-image {
    object-fit: cover;
    height: 300px;
    align-self: center;
    margin-bottom: -8px;
    border-radius: 20px;
}

.project-steps {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: -12px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.step {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 62px;
    left: 0;
    font-weight: bold;
    padding-top: 20px;
    text-align: justify;
}

.step-image {
    width: 400px;
    height: 400px;
    max-height: 500px;
    object-fit: cover;
    align-self: center;
    border-radius: 20px;
}

.step-text {
    font-family: 'Open Sans', sans-serif;
    top: 0;
    margin-top: none;
    padding-top: none;
}

.step-text-wide {
    width: calc(200% + 20px);
}

.view-element {
    display: flex;
    grid-template: 1fr 1fr;
    column-gap: 20px;
    padding-bottom: 32px;
}

.edit-delete-options {
    margin-bottom: 12px;
    text-align: center;
}

.option-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 2px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    box-shadow: 0 0 1px #030303;
    text-shadow: 0 0 4px #030303;
    width: 12%;
    font-size: 14px;
    text-align: center;
}

.option-button:active {
    box-shadow: 0 0 5px #030303;
}

.edit {
    background-color: #fda500;
}

.delete {
    background-color: #3e3e3e;
}
