.project-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 24px;
    margin-bottom: 25vh;
    padding-left: 20%;
    padding-right: 20%;
}

.project-header {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 42px;
    padding: 12px;
}

.project-author {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 12px;
}

.project-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    align-self: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px;
}

.project-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 12px;
}

.project-section-header {
    font-family: 'Cabin', sans-serif;
    font-size: 28px;
    padding-top: 32px;
    padding-bottom: 18px;
}

.project-supplies {
    font-family: 'Open Sans', sans-serif;
    list-style: circle;
    text-align: justify;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.project-steps {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: -12px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.step {
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    font-weight: bold;
    padding-bottom: 4px;
}

.step-image {
    width: auto;
    height: auto;
    max-height: 500px;
    object-fit:contain;
    align-self: center;
    border-radius: 20px;
}

.step-text {
    font-family: 'Open Sans', sans-serif;
}
