.footer {
    background-color: rgb(209, 209, 209);
    position: static;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.footer-devs {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 14px;
}

.dev {
    display: flex;
    flex-direction: column;
}

.dev-icons {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.fab {
    color: #3a3a3a;
    font-size: 18px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.fab:hover {
    cursor: pointer;
    animation-name: bounce;
}

.footer-tech {
    display: flex;
    column-gap: 28px;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding-top: 24px;
    font-size: 13px;
    color: #3a3a3a;
    border-top: 1px solid #8d8d8d;
}

.tech-link {
    color: #3a3a3a;
}

.tech-link:hover {
    font-weight: bold;
    text-shadow: 0 0 1px #3a3a3a;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        transform: translateY(-8px)
    }

    60% {
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        transform: translateY(-4px)
    }
}
