h3 {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.categories-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.category-header {
    margin: 0px;
    padding: 0px;
}

.category-header-text {
    font-family: 'Cabin', sans-serif;
    position: absolute;
    top: 340px;
    left: 72px;
    color: whitesmoke;
    text-shadow: 0 0 16px black;
}

.categories-chess {
    background-image: url('https://images.unsplash.com/photo-1588412079929-790b9f593d8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-position: center;
    background-color: gray;
    margin: 0;
    padding: 0;
    height: 320px;
}

.categories-gamedev {
    background-image: url('https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-position: bottom;
    background-color: gray;
    margin: 0;
    padding: 0;
    height: 320px;
}

.categories-jewelry {
    background-image: url('https://images.unsplash.com/photo-1523252012848-c22188792c27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-position: center;
    background-color: gray;
    margin: 0;
    padding: 0;
    height: 320px;
}

.categories-knitting {
    background-image: url('https://images.unsplash.com/photo-1613152768223-c17cb6e85bc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-position: center;
    background-color: gray;
    margin: 0;
    padding: 0;
    height: 320px;
}

.categories-body {
    padding-top: 64px;
    padding-left: 70px;
    padding-right: 70px;
}

.categories-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 28px;
}

.categories-page {
    margin-bottom: 46px;
}
