.comment-header {
    font-family: 'Cabin', sans-serif;
}

.comment-card, .reply-card {
    display: block;
    list-style: none;
    text-align: left;
    justify-content: space-between;
	margin-bottom: 10px;
}

.comment-card {
    padding-left: 2vw;
}

.reply-card {
    padding-left: 7vw;
}

.tip-username, .question-username, .comment-username, .reply-username, .step-anchor {
    font-weight: bold;
}

.tip-username {
	color: #FFA900;
}

.question-username {
	color: #0099FF;
}

.comment-username {
	color: #1E8439;
}

.reply-username {
    color: maroon;
}

.step-anchor {
    color: #A6C432;
}

.comment-content {
	margin-top: 5px;
	padding: 0;
	font-size: 14px;
}
.comment-content:disabled {
	border: none;
}

.comments-btns {
    display: flex;
    align-items: space-between;
}

.show-reply {
    display: block;
    list-style: none;
}

.updated-tag {
    font-family: 'Open Sans', sans-serif;
    color: gray;
    font-size: 14px;
}

.pad-left {
    padding-left: 1vw;
}

.comment-count {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.submit-comment-button {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 0 0 4px #030303;
    background-color: #fda500;
    border-radius: 6px;
}
.submit-comment-button:active {
    box-shadow: 0 0 5px #030303;
}

.discard-comment-button {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 0 0 4px #030303;
    background-color: #3e3e3e;
    border-radius: 6px;
}
.discard-comment-button:active {
    box-shadow: 0 0 5px #030303;
}
