.flavor-text {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
    column-gap: 68px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #3a3a3a;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.flavor-header {
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 28px;
}

.explorer-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.explorer-container>h2 {
    margin-bottom: -4px;
}

.explorer-header {
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    color: black;
    margin-bottom: 16px;
}
.explorer-header:hover {
    text-shadow: 0 0 2 #3a3a3a;;
}
