.publish-body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 32px;
    margin-bottom: 25vh;
}

.publish-header {
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
}

.publish-meta {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.publish-meta-element {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: 1px solid #3e3e3e;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

select {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: 1px solid #3e3e3e;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
